<html>
<body>
  <form method="POST">
    <h4>Set your Rocket.Chat password.</h4>
    <div>
      <input id="password" type="password" name="password"/>
      <label for="password">Password</label>
    </div>

    <div>
      <input id="password-confirm" type="password" name="password-confirm" />
      <label for="password-confirm">Confirm Password</label>
    </div>

    <div>
      <input id="relay_enabled" type="checkbox" name="relay_enabled" />
      <label for="relay_enabled">Enable relay</label>
    </div>

    <button type="submit">Submit</button>
  </form>
</body>
</html>
